#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755 tags=package=runtime
.
    account         mode=0750
    ..
/set type=dir uname=daemon gname=wheel mode=0755
    at              uname=root
        jobs            tags=package=at
        ..
        spool           tags=package=at
        ..
    ..
/set type=dir uname=auditdistd gname=audit mode=0770
    audit           uname=root mode=0750
        dist
        ..
        remote          gname=wheel mode=0700
        ..
    ..
    authpf          uname=root gname=authpf
    ..
    backups         uname=root gname=wheel mode=0750
    ..
    cache           uname=root gname=wheel mode=0755
    ..
    crash           uname=root gname=wheel mode=0750
    ..
/set type=dir uname=root gname=wheel mode=0700
    cron            mode=0750
        tabs
        ..
    ..
/set type=dir uname=root gname=wheel mode=0755
    db
        entropy         uname=operator gname=operator mode=0700
        ..
        freebsd-update  mode=0700
        ..
        hyperv          mode=0700 tags=package=hyperv-tools
        ..
        ipf             mode=0700 tags=package=ipf
        ..
        mtree
        ..
        ntp             uname=ntpd gname=ntpd
        ..
        pkg
        ..
        ports
        ..
        zfsd            tags=package=zfs
            cases
            ..
        ..
    ..
    empty           mode=0555 flags=schg
    ..
    games           gname=games mode=0775
    ..
    heimdal         mode=0700
    ..
    log
    ..
    mail            gname=mail mode=0775
    ..
    msgs            uname=daemon
    ..
    preserve
    ..
    run
        bhyve           tags=package=bhyve
        ..
        dhclient        tags=package=dhclient
        ..
        ppp             gname=network mode=0770 tags=package=ppp
        ..
        wpa_supplicant  tags=package=wpa
        ..
    ..
    rwho            gname=daemon mode=0775
    ..
/set type=dir uname=root gname=daemon mode=0755
    spool           gname=wheel
        dma             gname=mail mode=0770 tags=package=dma
        ..
        lock            uname=uucp gname=dialer mode=0775
        ..
        lpd
        ..
        output
            lpd
            ..
        ..
    ..
/set type=dir uname=root gname=wheel mode=01777
    tmp
        vi.recover
        ..
    ..
/set type=dir uname=unbound gname=unbound mode=0755
    unbound         tags=package=unbound
        conf.d          tags=package=unbound
        ..
    ..
    yp              uname=root gname=wheel
    ..
..
